# divmod

In [1]:
s = pd.Series(np.arange(10))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [2]:
divmod(s,3) # s//3  s%3

(0    0
 1    0
 2    0
 3    1
 4    1
 5    1
 6    2
 7    2
 8    2
 9    3
 dtype: int32, 0    0
 1    1
 2    2
 3    0
 4    1
 5    2
 6    0
 7    1
 8    2
 9    0
 dtype: int32)

In [12]:
idx = pd.Index(np.arange(10))
divmod(idx,3)

(Int64Index([0, 0, 0, 1, 1, 1, 2, 2, 2, 3], dtype='int64'),
 Int64Index([0, 1, 2, 0, 1, 2, 0, 1, 2, 0], dtype='int64'))

# equals

In [13]:
df1 = pd.DataFrame({'col':['foo', 0, np.nan]})
df2 = pd.DataFrame({'col':[np.nan, 0, 'foo']}, index=[2,1,0])

In [17]:
df1.equals(df2)
df1.equals(df2.sort_index())

False

True

# pd.Series(['foo', 'bar', 'baz']) == pd.Series(['foo'])
ValueError: Series lengths must match to compare

In [19]:
pd.Series(['foo', 'bar', 'baz']) == 'foo'

0     True
1    False
2    False
dtype: bool

# combine_first

In [21]:
df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
                    'B' : [np.nan, 2., 3., np.nan, 6.]})
df2 = pd.DataFrame({'A' : [5., 2., 4., np.nan, 3., 7.],
                    'B' : [np.nan, np.nan, 3., 4., 6., 8.]})

In [23]:
df1
df2

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

     A    B
0  5.0  NaN
1  2.0  NaN
2  4.0  3.0
3  NaN  4.0
4  3.0  6.0
5  7.0  8.0

In [29]:
df1.combine_first(df2)
df1.combine(df2, lambda x,y: np.where(pd.isnull(x),y,x))

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

In [27]:
df1.combine(df2,lambda x,y:x+y)

     A     B
0  6.0   NaN
1  NaN   NaN
2  7.0   6.0
3  NaN   NaN
4  NaN  12.0
5  NaN   NaN

# pipe

In [57]:
def mul1(x):
    return x
def mul2(x,y):
    return x+y*2
def mul3(x,y,z):
    return x+y*2+z*3

In [66]:
df = DataFrame({'A':np.random.randint(0,1,7),
                'B':np.random.randint(1,4,7)})
df

   A  B
0  0  3
1  0  1
2  0  2
3  0  3
4  0  3
5  0  2
6  0  2

In [80]:
df.pipe(mul1).pipe((mul2,'y'),1)
df.pipe(mul1).pipe((mul2,'y'),1).pipe((mul3,'y'),x=0,z=0)

   A  B
0  1  7
1  1  3
2  1  5
3  1  7
4  1  7
5  1  5
6  1  5

   A   B
0  2  14
1  2   6
2  2  10
3  2  14
4  2  14
5  2  10
6  2  10